<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnalyseDeSol</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <section>
      <div class="container">
         <h1>Qu'est-ce qu'une analyse de sol ?</h1>
         <div class="content">
            <ul class="list">
               <li><img src="/img/Analyse-de-sol.png"></li>
               <li><p>Une analyse de sol est un processus qui consiste à examiner 
                  la composition et les propriétés d'un échantillon de sol pour 
                  évaluer sa qualité et sa fertilité. Cette analyse fournit des 
                  informations précieuses pour l'agriculture, le jardinage, et la 
                  gestion environnementale.</p></li>
            </ul>
         </div>
     </div>
    </section>

    <section class="principe">
      <h1>les principaux aspects d'analyse de sol</h1>
      <div class="grid-container">
          <div class="grid-item">
              <h2>Composition chimique :</h2>
              <p>L'analyse mesure la concentration de divers nutriments et éléments dans le sol, tels que l'azote, le phosphore, le potassium, le calcium, le magnésium et le soufre.</p>
          </div>
          <div class="grid-item">
              <h2>pH du sol :</h2>
              <p>Le pH indique l'acidité ou l'alcalinité du sol. Un sol trop acide ou trop alcalin peut affecter la disponibilité des nutriments pour les plantes.</p>
          </div>
          <div class="grid-item">
              <h2>Capacité de rétention d'eau :</h2>
              <p>C'est la capacité du sol à retenir l'eau, ce qui est crucial pour la croissance des plantes.</p>
          </div>
          <div class="grid-item">
              <h2>Organismes du sol :</h2>
              <p>Une analyse peut également inclure l'examen de la présence de micro-organismes et de vers de terre, qui jouent un rôle important dans la santé du sol.</p>
          </div>
      </div>
  </section>

  <section class="analysis-section">
   <div class="content">
       <div class="text">
           <h1>analyses du sol</h1>
           <p>une analyse de sol implique plusieurs étapes pour évaluer la qualité du sol.</p>
           <input type="submit" class="detail-button" value="plus détaillée">
       </div>
       <div class="video">
           <video src="/img/vd.mp4"></video>
       </div>
   </div>
</section>

</body>
</html>