<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnalyseDeSol</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <section>
      <div class="container">
         <h1>Qu'est-ce qu'une analyse de sol ?</h1>
         <div class="content">
            <ul class="list">
               <li><img src="/img/Analyse-de-sol.png"></li>
               <li><p>Une analyse de sol est un processus qui consiste à examiner 
                  la composition et les propriétés d'un échantillon de sol pour 
                  évaluer sa qualité et sa fertilité. Cette analyse fournit des 
                  informations précieuses pour l'agriculture, le jardinage, et la 
                  gestion environnementale.</p></li>
            </ul>
         </div>
     </div>
    </section>
</body>
</html>