<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Document</title>
</head>





<body>
 <div class="section1">
       <img src="images/photo1.jpg" >
       <h1>CONTACTEZ-NOUS</h1>
              </div>


 <div class="iframe">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3374.7724837971505!2d-9.260278025660552!3d32.2372920113751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdac211719897669%3A0x6f59fa5bb517f58a!2sYoucode%20Safi!5e0!3m2!1sen!2sma!4v1722413826342!5m2!1sen!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <div>
        <p id="p1">suivez notre réseau social officiel</p>
    </div>
      <div id="img">
        <img src="images/logo-facebook.png" >
        <img src="images/linkedin-logo.png" >
        <img src="images/twitter-logo.png" >
        <img src="images/youtube-logo.png" >
    </div>








</body>
</html>