<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="../public/font-awesome/css/all.min.css">
    <title>Accueil</title>
</head>
<body>
    <div id="main-menu">
        <nav class="nav-bar" id="navbar">
            <a href="" class="logo">LOGO<span>.</span></a>
            <ul class="menu-links">
                <span id="close-menu-btn" class="fa-solid fa-xmark"></span>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Carte</a></li>
                <li><a href="#">Analyse</a></li>
                <li><a href="#">Contactez-nous</a></li>
            </ul>
            <span id="menu-btn" class="fa-solid fa-bars"></span>
        </nav>
        <section class="hero-section">
            <div class="content">
                <h1>Bienvenue avec YouCode</h1>
                <p>Le meilleure site lorsqu'on parle de l'analyse du sol</p>
                <button>Contactez-nous</button>
            </div>
        </section>
    </div>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <script src="../scripts/script.js"></script>
</body>
</html>