<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Notre Site</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est aspernatur odit pariatur expedita facere quod reiciendis itaque doloremque illo magni quis impedit optio deserunt exercitationem voluptas nisi quam, perspiciatis harum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem cumque non nulla dicta eveniet reprehenderit, deleniti eius dolorem consectetur beatae illum minus deserunt sit itaque assumenda quo pariatur ab veritatis.</p>
</body>
</html>