<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Accueil</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <ul class="menu-items">
            <li><a href="">Accueil</a></li>
            <li><a href="">Accueil</a></li>
            <li><a href="">Accueil</a></li>
            <li><a href="">Accueil</a></li>
            <li><a href="">Accueil</a></li>
        </ul>
        <div class="connexion">
            <a href="#">Connexion</a>
        </div>
    </nav>
    <main class="main-menu">
        <div class="dark-image"></div>
        <div class="titre-main">
            <h1>Bienvenue Avec Youcode</h1>
            <h3>La Meilleure plateforme lorsqu'on parle de l'agriculture</h3>
            <button type="button"></button>
        </div>
    </main>
</body>
</html>