<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <header>
        <img class="header-img-pre" src="../images/quels-sont-les-differents-types-dagriculture-scaled-1270x675.jpg"  style="display: block;  margin: auto;max-width: 100%; height: auto;filter: blur(2px);">
    </header>
    <h1 style="color: #5F6F52;font-size: 40px; text-align: center;">Pourquoi l'analyse du sol ?</h1>
    <hr style="position: center; width: 50%;">

    <div class="carte">
        <img src="../images/image1.jpg"   class="carte-image">
        <div class="carte-contenu" >
            <p >Pour qu'une culture atteigne son rendement optimal, elle a besoin de nutriments essentiels à différents niveaux : les éléments majeurs (azote, phosphore, potassium) en grande quantité, les éléments secondaires (calcium, magnésium, soufre) en quantités modérées, et les oligo-éléments (fer, zinc, manganèse, cuivre, bore, molybdène, chlore, nickel) en très faibles quantités. Comme le sol ne fournit pas toujours ces nutriments en quantité suffisante, il est crucial d'apporter des fertilisants supplémentaires, surtout dans les systèmes de culture intensifs. Il est donc important de connaître l'état du sol pour ajuster correctement les apports en fertilisants. </p>
        </div>
    </div>

    <h1 style="color: #5F6F52;font-size: 40px; text-align: center;">L'echantillon du sol</h1>
    <hr style="position: center; width: 50%;">
    <div class="division">
        <div class="carte2">
            <img src="../images/image2.jpg" alt="" class="carte2-image">
            <div class="carte-contenu">
                <p>Un échantillon de sol (800 g à 1 kg) doit représenter fidèlement le sol et est composé de plusieurs prélèvements dans un terrain homogène (max. 2 ha). Pour des terrains hétérogènes, on prélève un échantillon par type de sol, en considérant les antécédents culturaux. Les prélèvements peuvent être réalisés au hasard, en diagonale ou en zigzag.</p>
            </div>
        </div>
    </div>
</body>
</html>