<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Méthode de Prélèvement</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="../public/font-awesome/css/all.min.css">
    <link rel="shortcut icon" href="../images/—Pngtree—agricultural logo design_6962123.png" type="image/x-icon">

</head>
<body class="page-pre">

  <div id="main-menu" style="background-image: url(../images/composition-jardinage-plantation-mains-espace-droite.jpg);">
    <nav class="nav-bar" id="navbar">
      <img src="/images/—Pngtree—agricultural logo design_6962123.png" alt="logo" width="55px" height="55px" style="margin-left: 30px;">
      <ul class="menu-links">
          <span id="close-menu-btn" class="fa-solid fa-xmark"></span>
          <li><a href="../index.html">Accueil</a></li>
          <li><a href="AnalyseSol.html">Analyse</a></li>
          <li><a class="active" href="pre.html">Methode</a></li>
          <li><a href="carte.html">Carte</a></li>
          <li><a href="contact.html">Contactez-nous</a></li>
      </ul>
      <div id="nav-bar-dr">
          <span id="menu-btn" class="fa-solid fa-bars"></span>
          <div class="dropdown">
              
              
            </div>
      </div>
  </nav>
</div>

    <h1 style="color: #5F6F52;font-size: 30px; text-align: center;">Pourquoi l'analyse du sol ?</h1>
    <hr style="position: center; width: 50%;">

    <div class="carte">
        <img src="../images/image1.jpg"   class="carte-image">
        <div class="carte-contenu" >
            <p >Pour qu'une culture atteigne son rendement optimal, elle a besoin de nutriments essentiels à différents niveaux : les éléments majeurs (azote, phosphore, potassium) en grande quantité, les éléments secondaires (calcium, magnésium, soufre) en quantités modérées, et les oligo-éléments (fer, zinc, manganèse, cuivre, bore, molybdène, chlore, nickel) en très faibles quantités. Comme le sol ne fournit pas toujours ces nutriments en quantité suffisante, il est crucial d'apporter des fertilisants supplémentaires, surtout dans les systèmes de culture intensifs. Il est donc important de connaître l'état du sol pour ajuster correctement les apports en fertilisants. </p>
        </div>
    </div>

    <h1 style="color: #5F6F52;font-size: 30px; text-align: center;">L'echantillon du sol</h1>
    <hr style="position: center; width: 50%;">
    <div class="division">
        <div class="carte2">
            <img src="../images/image2.jpg" alt="" class="carte2-image">
            <div class="carte2-contenu">
                <p >Un échantillon de sol (800 g à 1 kg) doit représenter fidèlement le sol et est composé de plusieurs prélèvements dans un terrain homogène (max. 2 ha). Pour des terrains hétérogènes, on prélève un échantillon par type de sol, en considérant les antécédents culturaux. Les prélèvements peuvent être réalisés au hasard, en diagonale ou en zigzag.</p>
            </div>
        </div>
    </div>

    <h1 style="color: #5F6F52;font-size: 30px; text-align: center;">Profondeur du prélèvement</h1>
    <hr style="position: center; width: 50%;"> 
    <div class="carte3">
        <img src="../images/image3.jpg"   class="carte3-image">
        <div class="carte3-contenu" >
            <p > La profondeur du prélèvement de sol doit correspondre au système racinaire de la culture. Pour les cultures annuelles, les prélèvements se font généralement de 0 à 30 cm. Pour les cultures pérennes, il est nécessaire de prélever à deux profondeurs : 0-30 cm et 30-60 cm, avec une analyse séparée pour chaque profondeur. </p>
        </div>
    </div>


    <footer>
        <div class="footer-container">
          <div class="footer-section">
            <h3>À Propos</h3>
            <p>Notre projet se concentre sur l'analyse précise des sols pour aider à une meilleure gestion des terres agricoles et environnementales.</p>
          </div>
          <div class="footer-section">
            <h3>Contact</h3>
            <p><b>Email:</b> youcode@gmail.com</p>
            <p><b>Téléphone:</b> +212 12345678</p>
            <p><b>Adresse:</b> YouCode Safi</p>
          </div>
          <div class="footer-section">
            <h3>Suivez-nous</h3>
            <div class="social-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Analyse de Sol. Tous droits réservés.</p>
        </div>
      </footer>
    <script src="/scripts/script.js"></script>
</body>
</html>