

.carte{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 50%;
    width: 100%;
    margin: 20px;
    transition: transform 0.2s;
}

.carte:hover {
    transform: translateY(-10px);
}

.carte-image {
    width: 100%;
    height: auto;
}
.carte-contenu{
    color: #B99470;
    padding: 20px;
}
.carte h2 {
    margin-top: 0;
}

@media (max-width: 600px) {
    .carte {
        max-width: 100%;
    }
}
